# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
ENV/
env/
storage/
# IDE / système

.idea/
.DS_Store

# Logs et fichiers temporaires
*.log
*.tmp

# files configuration
.env
